<script>
export default {
  props: {
    buttonText: String,
    error: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<template>
  <div class="flex items-center h-full text-sm">
    <button :class="error ? 'bbx-btn-error' : 'bbx-btn-primary'">
      {{ buttonText }}
    </button>
  </div>
</template>
