<script setup lang="ts">
import { ref } from "vue";
import type { RouteParamValue } from "vue-router";
import { automationsStore } from "~/stores/automations";
import CustomButton from "~/components/CustomButton.vue";

const router = useRouter();
const store = automationsStore();
const id: string | RouteParamValue[] = router.currentRoute.value.params.id;

const automation = computed(() => {
  if (typeof id === "string") {
    return store.automations[id];
  }
});

interface HistoryEntry {
  time: string;
  text: string;
}

interface GlobalHistoryEntry {
  time: string;
  text: string;
  error: boolean;
}

const showPopup = ref(false);
const apiResponse = ref(null);
const isLoading = ref(false);
const workflowName = ref("");
const history = ref<HistoryEntry[]>([]);
const globalHistory = ref<GlobalHistoryEntry[]>([]);

const addToHistory = (text: string) => {
  history.value.push({
    time: new Date().toLocaleTimeString("fr-FR"),
    text,
  });
};

const addToGlobalHistory = (text: string, error = false) => {
  globalHistory.value.push({
    time: new Date().toLocaleTimeString("fr-FR"),
    text,
    error,
  });
};

async function fetchData() {
  try {
    const response = await fetch(
      "https://api.spacexdata.com/v4/payloads/5eb0e4b5b6c3bb0006eeb1e1"
    );
    const data = await response.json();
    addToHistory("Affichage du résultat dans la pop-up.");
    showPopup.value = true;
    return data;
  } catch (error) {
    addToGlobalHistory(
      "Une erreur est survenue durant l'exécution de workflow.",
      true
    );
    return null;
  }
}

async function fetchBadData() {
  try {
    const response = await fetch("https://api.spacexdata.com/v4/bad-data");
    const data = await response.json();
    addToHistory("Affichage du résultat dans la pop-up.");
    showPopup.value = true;
    return data;
  } catch (error) {
    addToGlobalHistory(
      "Une erreur est survenue durant l'exécution de workflow.",
      true
    );
    return null;
  }
}

async function handleOpenPopup() {
  clearWorkflow();
  workflowName.value = "Ouvrir la popup";

  addToHistory("Démarrage du workflow.");
  await new Promise((resolve) => setTimeout(resolve, 1000));
  addToHistory("Ouverture de la pop-up.");
  showPopup.value = true;
  isLoading.value = true;

  // Attendre 2 secondes pour la première pop-up
  await new Promise((resolve) => setTimeout(resolve, 2000));
  showPopup.value = false;
  isLoading.value = false;
  // Attendre 2 secondes pour le call API
  await new Promise((resolve) => setTimeout(resolve, 2000));

  apiResponse.value = await fetchData();
}

function clearWorkflow() {
  showPopup.value = false;
  isLoading.value = false;
  history.value = [];
}

async function handleCallApi() {
  clearWorkflow();
  workflowName.value = "Appel API";

  addToHistory("Appel API.");
  await new Promise((resolve) => setTimeout(resolve, 1000));

  apiResponse.value = await fetchData();
}

function endedProcess(error = false, textError = "") {
  addToHistory("Fin du processus.");
  showPopup.value = false;
  isLoading.value = false;

  if (error) {
    addToGlobalHistory(textError, true);
  } else {
    addToGlobalHistory(
      `Workflow "${workflowName.value}" terminé avec succès`,
      false
    );
  }
}
</script>

<template>
  <div :key="id" class="flex flex-1 flex-col bg-white">
    <div
      class="sticky z-10 top-0 flex flex-row justify-between items-center p-4 md:p-6 border-b bg-[#FFF] border-[#E6E6E5]"
    >
      <div class="flex flex-1 items-center gap-4">
        <div
          class="flex py-2 cursor-pointer"
          @click="router.push({ name: 'automations' })"
        >
          <div i="carbon-arrow-left" class="scale-120" />
        </div>
        <span class="flex flex-1 text-[#262626] text-xl">
          {{ automation.name }}
        </span>
        <div class="flex gap-2 text-[#19181E] text-sm" />
      </div>
    </div>
    <div class="flex flex-col gap-4 p-4 w-full h-full relative">
      <div class="pb-10 flex flex-col gap-2">
        <h2 class="font-semibold text-lg">Actions</h2>
        <div class="w-full flex space-x-4 items-center justify-center">
          <CustomButton
            button-text="Ouvrir la pop-up"
            @click="handleOpenPopup"
          />
          <CustomButton button-text="Appel API" @click="handleCallApi" />
          <CustomButton
            button-text="Fetch error"
            :error="true"
            @click="fetchBadData"
          />
        </div>
      </div>
      <div
        v-if="history.length > 0"
        class="flex flex-col gap-4 p-4 text-start w-full md:w-3/4 xl:w-2/5 rounded-md p-4 shadow-md"
      >
        <h2 class="text-lg font-semibold">Workflow</h2>
        <div class="relative">
          <div
            v-for="(entry, index) in history"
            :key="index"
            class="flex items-center gap-2 mb-2"
          >
            <div class="rounded-full w-2 h-2 bg-[#3A8054]" />
            <span>{{ entry.time }} : {{ entry.text }}</span>
          </div>
        </div>
      </div>
      <div
        class="absolute w-11/12 text-start bottom-4 flex flex-col space-y-4 p-4"
      >
        <h2 class="text-lg font-semibold border-b">Historique</h2>
        <div class="relative overflow-y-auto heightHistory">
          <div
            v-for="(entry, index) in globalHistory"
            :key="index"
            class="flex items-center gap-2 mb-2"
          >
            <span :class="{ 'text-red-400': entry.error }">
              {{ entry.time }} : {{ entry.text }}
            </span>
          </div>
        </div>
      </div>

      <!-- Pop-up -->
      <div v-if="showPopup" class="popup flex flex-col rounded-md space-y-4">
        <h2
          v-if="!isLoading"
          class="text-lg font-semibold popup-content border-b text-start pb-2"
        >
          Résultat
        </h2>

        <div v-if="isLoading" class="popup-content">Ouverture de la popup.</div>
        <div v-else class="popup-content">
          {{ apiResponse }}
        </div>
        <div v-if="!isLoading" class="flex justify-end">
          <CustomButton button-text="Ok" @click="endedProcess()" />
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heightHistory {
  height: 17rem;
  max-height: 17rem;
}
</style>

<route lang="yaml">
meta:
  layout: home
  requiresAuth: true
</route>
