<script setup lang="ts">
import { automationsStore } from "../../stores/automations"

const router = useRouter()
const store = automationsStore()

const search = ref("")
const automations = computed(() => Object.values(store.automations).filter(card => card.name.toLowerCase().includes(search.value)))

const goToAutomation = (id: string) => {
  router.push({
    name: "automations-id",
    params: {
      id,
    },
  })
}
</script>

<template>
  <div class="flex flex-1 flex-col bg-white">
    <div
      class="sticky z-10 top-0 flex flex-row justify-between items-center p-4 md:p-6 border-b bg-[#FFF] border-[#E6E6E5]"
    >
      <h2 class="text-xl text-[#272726]">
        {{ $t("automations") }}
      </h2>
      <div class="flex items-center h-full text-sm">
        <button class="bbx-btn-primary">
          <div class="inline-block mr-1" i="carbon-add-alt" />{{ $t("new") }}
        </button>
      </div>
    </div>

    <div
      class="flex flex-col p-4 gap-4 w-full"
    >
      <div class="flex flex-row justify-between items-center gap-4">
        <div class="relative flex items-center w-full text-[#262626]">
          <div i="carbon-search" class="absolute w-4 left-3" />
          <input v-model="search" placeholder="Rechercher" type="text" class="flex w-full items-center gap-2 py-1 lg:py-2 pl-8 pr-4 text-sm border rounded transition cursor-pointer hover:border-[#3A8054] border-[#E6E6E]">
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
        <div
          v-for="card in automations"
          :key="card.id"
          class="flex flex-col p-6 bg-[#FFF] border border-[#E6E6E5] rounded-md cursor-pointer"
          :tooltip="card.name"
          @click="goToAutomation(card.id)"
        >
          <div class="flex items-center gap-2">
            <div class="p-2 bg-[#F1E7FE] text-[#650DD9]">
              <div i="carbon-bot" />
            </div>
            <div class="text-[#19181E] text-sm font-semibold truncate">
              {{ card.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: home
</route>
